@charset "UTF8";

/*
em HTML é id = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(116, 240, 116);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(54, 105, 54);
    
}

h1#principal {
    text-align: center;
    background-color: rgb(54, 105, 54);
    color: white;
}

h2 {
    color: rgb(22, 43, 22);
}

.basico {
    color: rgb(0, 54, 0);
}

.intermediario {
    color: rgb(80, 80, 1);
}

.avancado {
    color: rgb(99, 0, 0);
}

.destaque {
    background-color: rgba(209, 209, 83, 0.616);
}
